body {
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  /* font-family: 'Mukta', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Adamina', serif;
}

* {
  font-family: 'Adamina', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

